<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Book for Coin</title>
    <link rel="stylesheet" href="../static/css/index.css" />
</head>

<body>
    <h1>Enter Coin ID to Get Order Book</h1>
    <form method="POST">
        <label for="coin_id">Coin ID (e.g., BTC, ETH):</label>
        <input type="text" id="coin_id" name="coin_id" placeholder="Enter coin id (e.g., BTC)" required />
        <button type="submit">Get Order Book</button>
    </form>
    <div id="container">
        {% for i in coins %}
        <div id="card" data-coin-name="{{ i }}">
            <div id="card_inner">
                <span id="remove_coin" onclick="removeCoin('{{ i }}')">&times;</span>
                <h2 id="coin_name">{{ i | upper }}</h2>
            </div> 
            <h4>Last updated on : <time id="updateTime_{{ i }}"></time></h4>
            <div id="order_table">
                <div id="bids_{{ i }}">
                    <h3>Bids</h3>
                    <table id="bids_table_{{ i }}">
                        <thead>
                            <tr>
                                <th>Volume</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div id="asks_{{ i }}">
                    <h3>Asks</h3>
                    <table id="asks_table_{{ i }}">
                        <thead>
                            <tr>
                                <th>Volume</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
<script>
    const coins = {{ coins | tojson | upper}}; // coins list from flask is initialized to coins variable/list in javascript.
    console.log(coins);
    function updateOrderBook(coin_id) {
        fetch('/coin/' + coin_id + '/data')
            .then(response => response.json())
            .then(data => {
                const curr_date = new Date();
                const curr_hour = curr_date.getHours();
                const curr_min = curr_date.getMinutes();
                const curr_sec = curr_date.getSeconds();
                var bids = data.bids.slice(0, 5);
                var asks = data.asks.slice(0, 5);
                var time = document.getElementById('updateTime_' + coin_id);
                time.innerHTML = `${curr_hour}:${curr_min}:${curr_sec}`
                // time.innerHTML = curr_date


                var bids_table = document.getElementById('bids_table_' + coin_id);
                var asks_table = document.getElementById('asks_table_' + coin_id);

                bids_table.querySelector('tbody').innerHTML = '';
                asks_table.querySelector('tbody').innerHTML = '';

                bids.forEach(bid => {
                    var row = bids_table.querySelector('tbody').insertRow();
                    row.innerHTML = `<td>${bid.volume}</td><td>${bid.price}</td><td>${bid.total}</td>`;
                });

                asks.forEach(ask => {
                    var row = asks_table.querySelector('tbody').insertRow();
                    row.innerHTML = `<td>${ask.volume}</td><td>${ask.price}</td><td>${ask.total}</td>`;
                });
            })
            .catch(error => console.error('Error fetching order book data:', error));
    }
    
    function removeCoin(coin_id){
        fetch('/coin/' + coin_id + '/delete')
        .then(response => response.json())
        .then(data => {
            if(data.status === 'success'){
                    cards = document.querySelectorAll('[id="card"]')
                    cards.forEach( card => {
                        const coinName = card.dataset.coinName
                        if(coinName == coin_id){
                            card.remove()
                        }
                    })
                }
        })
        .catch(error => console.error('Error removing coin:', error));
    }
    

    let index = 0;
    setInterval(() => {
        const coin_id = coins[index];
        updateOrderBook(coin_id);
        index = (index + 1) % coins.length;
    }, 1000);

</script>
</html>