<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ coin_id }}</title>
    <link rel="stylesheet" href="../static/css/order_book.css">
</head>
<body>
    {% if coin_id %}
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/watchlist/{{ coin_id }}">Add To Watchlist</a></li>
            </ul>
        </nav>
        <h2>Order Book for {{ coin_id }} (USDT)</h2>
        <h4>Last updated on : <time id="updateTime"></time></h4>
        <div class="order-tables">
            <!-- Bids Table -->
            <div>
                <h3>Bids</h3>
                <table id="bids">
                    <thead>
                        <tr>
                            <th>Volume</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for bid in bids %}
                        <tr>
                            <td>{{ bid.volume }}</td>
                            <td>{{ bid.price }}</td>
                            <td>{{ bid.total }}</td>
                        </tr>
                        {% endfor %} -->
                    </tbody>
                </table>
            </div>

            <!-- Asks Table -->
            <div>
                <h3>Asks</h3>
                <table id="asks">
                    <thead>
                        <tr>
                            <th>Volume</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for ask in asks %}
                        <tr>
                            <td>{{ ask.volume }}</td>
                            <td>{{ ask.price }}</td>
                            <td>{{ ask.total }}</td>
                        </tr>
                        {% endfor %} -->
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
</body>
<script>
    var coin_id = "{{ coin_id }}";
    function updateOrderBook() {
    fetch('/coin/' + coin_id + '/data')
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            const curr_date = new Date();
            const curr_hour = curr_date.getHours();
            const curr_min = curr_date.getMinutes();
            const curr_sec = curr_date.getSeconds();
            var bids = data.bids.slice(0, 10);
            var asks = data.asks.slice(0, 10);

            var time = document.getElementById('updateTime');
            time.innerHTML = `${curr_hour}:${curr_min}:${curr_sec}`

            var bids_table = document.getElementById('bids');
            var asks_table = document.getElementById('asks');

            bids_table.innerHTML = "<tr><th>Volume</th><th>Price</th><th>Total</th></tr>";
            asks_table.innerHTML = "<tr><th>Volume</th><th>Price</th><th>Total</th></tr>";

            bids.forEach(bid => {
                var row = bids_table.insertRow();
                row.innerHTML = `<td>${bid.volume}</td><td>${bid.price}</td><td>${bid.total}</td>`;
            });
            asks.forEach(ask => {
                var row = asks_table.insertRow();
                row.innerHTML = `<td>${ask.volume}</td><td>${ask.price}</td><td>${ask.total}</td>`;
            });
        })
        .catch(error => console.error('Error fetching order book data:', error));
    }
    setInterval(updateOrderBook, 1000);

    if (coin_id) {
        updateOrderBook();
    }
</script>
</html>